DEUTNP_Mx_1x1.txt
ESP_Mx_1x1.txt
FRATNP_Mx_1x1.txt
GBRTENW_Mx_1x1.txt
ITA_Mx_1x1.txt
Underlying Cause of Death_113 causes_12-55_2010-2014.txt
Underlying Cause of Death_113 causes_12-55_2015-2019.txt
Underlying Cause of Death_Drug overdoses_12-55_2010-2019.txt
Underlying Cause of Death_Leading causes_12-55_2019.txt
Underlying Cause of Death_Total_12-55_2010-2019.txt
USA_asfrRR.txt
USA_asfrRRbo.txt
USA_birthsRR.txt
USA_Deaths_1x1.txt
USA_Exposures_1x1.txt
USA_Mx_1x1.txt
USA_Population.txt